/* * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Wanted Sans SemiBold", sans-serif;
} */

@font-face {
    font-family: "Wanted Sans SemiBold";
    src: url(https://github.com/100ehdals/DISC2025/blob/main/WANTEDSANS-SEMIBOLD.OTF) format(".OTF");
    font-weight: 200;
}

body {
    background: #1f1e33;
    font-family: "Wanted Sans SemiBold", sans-serif;
}


/* Typearea */
.typing-area {
    margin: 100px auto;
    width: 1000px;
    height: 200px;
}

.typing-area > .request-string > p {
    font-size: 32px;
    color: #ffffff;
    padding: 1rem;
}

.typing-area > textarea {
    width: 1000px;
    height: 100px;
    padding: 1rem;
    font-family: "Wanted Sans SemiBold", sans-serif;
    font-size: 22px;
    background: #1f1e33;
    color: #ffffff;
    border: none;
    outline: none;
    resize: none;
}


/* WPM calculator */
.wpm-calc {
    display: flex;
    align-items: center;
    margin: 25px auto;
    width: 300px;
    color: #ffffff;
    font-size: 22px;
}

span {
    display: block;
    width: fit-content;
    margin: 0 auto;
}


/* Keyboard Design */
.keyboard {
    margin: 80px auto;
    width: 1000px;
    /* border: 1px solid #fff; */
}

button {
    margin: 5px;
    width: 50px;
    height: 50px;
    font-family: "Wanted Sans SemiBold", sans-serif;
    font-size: 16px;
    background: #c8c8c8;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.tab {
    width: 103px;
}

.caps {
    width: 130px;
}

.shift {
    width: 167px;
}

.bksp {
    width: 103px;
}

.enter {
    width: 140px;
}

.ctrl, .fn, .windows, .alt, .print {
    width: 78px;
}

.space {
    width: 435px;
}
